.container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  /* background-color: hsla(0, 0%, 88%, 0.6); */
  background-color: var(--trans-mid);
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.nav ul {
  width: 250px;
} 
.nav li {
  display: flex;
  align-items: center;
  font-size: var(--font-lg);
  margin-bottom: 15px;
  user-select: none;
  -webkit-user-select: none;
}

/* -------------- Play Cube -------------- */
.box-scene { /* .play-btn */
  perspective: 300px;
  -webkit-perspective: 300px;
  margin-bottom: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  height: 60px;
  cursor: pointer;
}
.box-scene:hover .box {
  transform: rotateX(90deg);
  font-style: italic;
  font-family: var(--text-font);
}
.box {
  width: 140px;
  height: 60px;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all 0.4s ease-out;
  transform-origin: 30px 30px -30px;
  margin: auto;
  pointer-events: none;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: visible;
  transform-origin: 0 0;
  text-align: center;
  border: 1px solid var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  /* color: var(--light-white);
  font-weight: 100; */
}
.side {
  transform: rotateX(-90deg);
  top: 60px;
}

/* -------------- spinner -------------- */
.spinner-container {
  margin-bottom: 25px;
}
.spinner {
  width: 60px;
  height: 60px;
  border: 1px solid var(--dark-gray);
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(200px) }
  50% { -webkit-transform: perspective(200px) rotateY(180deg) }
  100% { -webkit-transform: perspective(200px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}