.body {
  width: 100%;
  overflow-y: auto;
  margin-top: var(--nav-height);
  padding: var(--padding);
  transition: opacity 0.2s ease-in-out;
  font-family: var(--sans-font);
  font-size: var(--font-md);
  line-height: var(--line-height);
}

.body > * {
  margin-bottom: 40px;
  max-width: 980px;
}

/* --------- bio (html) ---------- */
.bio > p {
  margin-bottom: 1.5rem;
}

/* ---------- contact ----------- */
.contact > div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.contact svg { 
  stroke-width: 1;
  height: var(--fontmd);
  width: var(--font-md);
}

/* ------------ print ------------ */
.print {
  display: flex;
  justify-content: center;
}
.print button {
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
}

@media print {
  .body {
    margin-top: 0;
  }
  .print,
  .imprint {
    display: none;
  }
}

/* ---------- cv (html) ---------- */
.vitae > h2 {
  position: relative;
  font-size: var(--font-lg);
  margin-bottom: 2.5rem;
  padding-top: 2.5rem;
}
.vitae > ul > li {
  margin-bottom: 2rem;
}
.vitae > ul > li > p {
  padding-top: 0.6rem;
}
.vitae a {
  text-decoration: #5a5a5a underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
.vitae > ul:last-child {
  margin-bottom: 150px;
}

/* ----------- imprint ----------- */
.imprint {
  font-size: calc(var(--font-sm) * 0.9);
  padding: 20px 20px 10px;
  border: 1px dotted var(--light-gray);
}
.imprint p {
  margin-bottom: 1.5rem;
}


/* ----------- desktop ----------- */
@media (min-width: 900px), print {
  .vitae > h2 {
    left: 220px;
  }
  .vitae > ul > li {
    display: flex;
  }
  .vitae > ul > li > em {
    font-style: normal;
    min-width: 220px;
    word-break: normal;
  }
  .vitae > ul > li > p {
    padding-top: 0;
  }
}