.header {
  display: none;
}
.body {
  position: relative;
  max-width: 900px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--dark-gray);
  font-family: var(--text-font);
  font-size: var(--font-md);
  line-height: var(--line-height);
}
/* --------------------------------- */
.bio {
  margin: 20px 0 40px;
}
.profile {
  max-width: 560px;
  margin: 0 auto;
}
/* --------------------------------- */
.vitae {
  margin: 50px 0;
}
.vitae h2 {
  font-size: 1.2em;
  margin-bottom: 15px;
}
.vitae > ul > li {
  display: flex;
  line-height: 1.6em;
  margin-bottom: 0.8em;
}
.vitae > ul > li > em {
  min-width: 140px;
  font-style: normal;
}
/* --------------------------------- */
.imprint {
  margin-bottom: 40px;
  background-color: #ececec;
  padding: 20px 20px 10px;
  /* border-radius: 10px; */
}
.imprint p {
  font-size: var(--font-sm);
  line-height: 1.8em;
  margin-bottom: 10px;
}

/* ------------ desktop ------------ */
@media (min-width: 900px) {
  .profile {
    margin: 0 auto 0 130px;
  }
}