.header {
  display: none;
}
.body {
  position: relative;
  max-width: 1000px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--light-white);
  font-family: var(--sans-font);
  font-size: var(--font-md);
  line-height: var(--line-height);
  font-weight: 100;
}
/* --------------------------------- */
.bio {
  margin: 20px 0 40px;
}
.bio p {
  margin-top: 20px;
}
.bio p:first-of-type {
  margin-top: 0;
}
.profile {
  max-width: 480px;
  margin: 0 auto;
}
/* --------------------------------- */
.vitae {
  margin: 50px 0;
  font-size: var(--font-sm);
}
.vitae h2 {
  font-size: 1.2em;
  margin-bottom: 15px;
}
.vitae > ul > li {
  line-height: 1.5em;
  margin-bottom: 1.0em;
}
.vitae > ul > li > em {
  font-style: normal;
}
.vitae li a {
  font-family: var(--code-font);
  color: var(--code-green);
}
/* --------------------------------- */
.imprint {
  margin-bottom: 40px;
  padding: 20px 20px 10px;
  background-color: var(--dark-gray);
}
.imprint p {
  font-size: var(--font-sm);
  line-height: 1.8em;
  margin-bottom: 10px;
}
/* ------------ desktop ------------ */
@media (min-width: 600px) {
  .profile {
    margin: 0 auto 0 165px;
  }
  .bio p, .vitae ul {
    font-size: var(--font-md);
  }
  .vitae > ul > li {
    display: flex;
  }
  .vitae > ul > li > em {
    min-width: 165px;
    word-break: normal;
  }
}