.header {
  display: none;
}
.body {
  position: relative;
  max-width: 900px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--light-white);
  font-weight: 300;
}
/* ---------------------------------- */
.description {
  font-family: var(--text-font);
  font-size: var(--font-lg);
  display: flex;
  justify-content: center;
  line-height: var(--line-height);
  margin-top: 20px;
}
.social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.social a {
  margin: 0 12px;
}