.header {
  display: none;
}
.body {
  position: relative;
  max-width: 900px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--light-white);
  font-weight: 300;
}
/* ---------------------------------- */
.description {
  font-family: var(--text-font);
  font-size: var(--font-md);
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: var(--line-height);
}
.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-family: var(--code-font);
  font-size: var(--font-md);
  background-color: hsl(0, 0%, 10%);
}
thead tr, tbody tr {
  height: 50px;
  cursor: default;
}
tbody tr:hover, tbody tr:focus {
  background-color: hsl(0, 0%, 13%);
}
tbody td, thead th {
  padding: 0 10px;
}
thead th:first-child,
tbody td:first-child {
  padding-left: 15px;
}
.links div {
  display: flex;
}
.links div a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin-right: 5px;
}
.links div a:hover {
  background-color: hsl(0, 0%, 18%);
}
/* ---------------------------------- */
.social {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.social a {
  margin: 0 10px;
}
/* ------------- mobile -------------- */
@media (max-width: 650px) {
  .hide {
    display: none;
  }
}