.main {
  width: 100vw;
  height: 100%;
  position: absolute;
  /* position: relative; */
  /* width: 100%;
  height: 100%; */
  padding: 0;
  margin: 0;
  border: 10px dashed tomato;
}
.message {
  display: inline-block;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--code-font);
  font-size: var(--font-lg);
  font-weight: bold;
  width: 100%;
  text-align: center;
}

