.container {
  overflow-y: auto;
  flex: 1;
  margin-top: var(--nav-height);
  padding: calc(var(--padding) * 2) 0;
  transition: opacity 0.2s ease-in-out;
}

.html {
  font-size: var(--font-md);
  line-height: var(--line-height);
}
.html > * {
  margin-left: var(--padding);
  padding-right: var(--padding);
}

.html > h1,
.html > h2,
.html > h3,
.html > p,
.html > ul,
.html > hr,
.html > blockquote,
.html > table,
.caption {
  max-width: 730px;
  margin-bottom: 2rem;
}
.html > h1 {
  font-size: var(--font-lg);
  font-weight: 400;
  line-height: 1.1;
}
.html > h2,
.html > h3 {
  font-size: var(--font-md);
  font-weight: 500;
}

.html > ul {
  font-size: 0.9em;
  margin-right: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1em;
  background-color: var(--light-white);
}

.html > blockquote {
  font-style: italic;
  padding-left: 1em;
  border-left: 5px solid var(--light-white);
}
.html > blockquote p:last-child {
  margin-top: 1rem;
}

.html > hr {
  height: 25px;
  border: none;
}

.html a {
  color: var(--link-color);
  /* white-space: nowrap; */
}
.html a::after {
  display: inline-block;
  content: '';
  height: 1rem;
  width: 1rem;
  mask: url(/external-link.svg) no-repeat;
  mask-size: var(--font-sm); /* or contain */
  background: var(--link-color);
  mask-position: center;
  margin-left: 0.2em;
  position: relative;
  bottom: -1px;
}
.html a:hover::after {
  transform: skew(-0.16rad);
}

.image-container {
  display: inline-block;
  max-width: calc(100% - var(--padding) * 2);
  margin-right: calc(var(--padding) * 0.75);
  margin-bottom: 1rem;
}
.image-container:first-child {
  margin-left: var(--padding);
}
.image-container:last-child {
  margin-right: var(--padding);
}
.image-container img {
  display: block;
  max-height: 65vh;
  user-select: none;
}
.caption {
  margin-left: var(--padding);
  font-size: var(--font-sm);
  width: fit-content;
}

.html > table {
  font-size: var(--font-sm);
}
.html table th {
  text-align: left;
}
.html table tr td {
  padding: 5px 0;
}
.html table tr td:first-child {
  padding-right: var(--padding);
  white-space: nowrap;
  vertical-align: top;
}

/* ---------------- desktop ---------------- */
@media (min-width: 1000px) {
  .container {
    margin-top: 0;
    padding: calc(var(--nav-height) + var(--padding)) 0;
  }
  .html > *,
  .caption {
    margin-left: calc(var(--padding) * 2 + var(--nav-width));
  }
  .html > ul {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .html > hr {
    height: 50px;
  }
  .image-container {
    margin-right: var(--padding);
  }
  .image-container:first-child {
    margin-left: 0;
  }
  .image-container:last-child {
    margin-right: calc(var(--padding) * 2);
  }
}