/* Lekton, Roboto Mono, IBM Plex, Jost, Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,400;0,800;1,100;1,200;1,400;1,800&family=Quicksand:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&display=swap');
:root {
  --sans-font: 'Overpass', 'Helvetica', 'Trebuchet MS', 'Arial', sans-serif;
  --text-font: 'Bitter', 'Georgia', 'Times New Roman', Times, serif;
  --code-font: 'Inconsolata', 'Consolas', 'Menlo', 'Courier New' , monospace;
  --light-white: #e0e0e0;
  --dark-white: #bababa;
  --light-gray: #333333;
  --dark-gray: #1b1b1b;
  --very-gray: #111111;
  --code-green: #00b400;
  --font-lg: 1.1em;
  --font-md: 1.0em;
  --font-sm: 0.8em;
  --line-height: 1.8em;
  --gap: 15px;
  --nav-height: 60px;
}
* {  
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: var(--very-gray);
}
a {
  color: inherit;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
a:link, a:visited, a:active {
  text-decoration: none;
}
a:focus, button:focus {
  outline: none;
}
/* ----------------- LAYOUT ----------------- */
.main {
  min-height: calc(100vh - var(--nav-height));
  padding: var(--nav-height) 25px 0 25px;
}
/* ---------------- LIGHTBOX ---------------- */
.ril__image {
  height: 90vh;
}
/* ---------------- DESKTOP ----------------- */
@media (min-width: 900px) {
  :root {
  --font-lg: 1.2em;
  --font-md: 1.1em;
  --font-sm: 0.9em;
  --line-height: 2em;
  --gap: 30px;
  }
  ::-webkit-scrollbar { width: 15px; height: 15px; }
  ::-webkit-scrollbar-track { background-color: var(--dark-gray); }
  ::-webkit-scrollbar-thumb {
    background-color: var(--dark-white);
    background-clip: content-box;
    border: 4px solid rgba(0, 0, 0, 0);
  }
}

::selection {
  color: var(--code-green);
  background: var(--light-gray);
}
::-moz-selection {
  color: var(--code-green);
  background: var(--light-gray);
}
