/* Lekton, Roboto Mono, IBM Plex, Jost, Quicksand, Overpass */

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap');

:root {
  --sans-font: 'Roboto', 'Helvetica', 'Trebuchet MS', 'Arial', 'Noto Naskh Arabic', sans-serif;
  --text-font: 'Bitter', 'Georgia', 'Times New Roman', Times, serif;
  --code-font: 'Inconsolata', 'Consolas', 'Menlo', 'Courier New' , monospace;
  
  --very-white: hsl(0, 0%, 94%);
  --light-white: hsl(0, 0%, 91%);
  --dark-white: hsl(0, 0%, 73%);
  --mid-gray: hsl(0, 0%, 55%);
  --light-gray: hsl(0, 0%, 22%);
  --dark-gray: hsl(0, 0%, 9%);
  --very-gray: hsl(0, 0%, 6%);

  --trans-light: rgba(240, 240, 240, 0.5);
  --trans-mid: rgba(180, 180, 180, 0.6);
  
  --link-color: #0000ff;

  --font-lg: 1.4rem;
  --font-md: 1.1rem;
  --font-sm: 0.95rem;
  --line-height: 1.5;

  --padding: 15px;
  --nav-height: 60px;
  --nav-width: 380px;
  --blur: blur(15px);
}

[data-theme="dark"] {
  --very-white: hsl(0, 0%, 16%);
  --light-white: hsl(0, 0%, 25%);
  --dark-white: hsl(0, 0%, 30%);
  --mid-gray: hsl(0, 0%, 55%);
  --light-gray: hsl(0, 0%, 73%);
  --dark-gray: hsl(0, 0%, 85%);
  --very-gray: hsl(0, 0%, 91%);

  --trans-light: rgba(41, 41, 41, 0.5);
  --trans-mid: rgba(30, 30, 30, 0.6);

  --link-color: #6b93ff;
}

* {  
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: var(--very-white);
}

#root {
  color: var(--very-gray);
  font-family: var(--sans-font);
  font-weight: 300;
}

a {
  color: inherit;
}
a:link, a:visited, a:active {
  text-decoration: none;
}
a:hover {
  font-style: italic;
  font-family: var(--text-font);
}

strong, b, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

/* ----------------- LAYOUT ----------------- */
.main {
  display: flex;
  height: 100vh;
  height: 100dvh;
  width: 100%;
}

@media print {
  .main {
    display: block;
  }
}

/* ----------------- GALLERY ----------------- */
.gallery {
  margin-left: 0 !important;
  padding-right: 0 !important;
}
.carousel {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 1rem;
  margin-bottom: 1rem;
  /* margin-left: 0; */
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}

.audio-container,
.video-container {
  max-width: 700px;
  padding-top: calc(var(--padding) * 1.5);
  margin-bottom: var(--padding);
}
.audio-container audio {
  width: 100%;
}


/* ----------------- DESKTOP ----------------- */
@media (min-width: 1000px) {
  :root {
  --font-lg: 2rem;
  --font-md: 1.3rem;
  --font-sm: 1.1rem;
  --padding: 30px;
  }
  
  .carousel {
    padding-left:calc(var(--padding) * 2 + var(--nav-width));
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--dark-white);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--mid-gray);
  }
}
